%h4.contract_information Баланс
.balance
  .summa
    %div{class: "#{current_contract.balance_days_left > 5 ? 'green' : 'red'}"}
      На счете:
      %b= current_contract.balance_summa
      грн.
    .limit
      %div{class: "#{current_contract.balance_days_left > 5 ? 'green' : 'red'}"}
        Лимит: 
        %b= current_contract.closesumma
        грн.
= link_to "Оплатить кредитной картой", ecconnect.new_ecconnect_payment_path, class: 'contact_submit btn btn-primary btn-large'
%br/
%br/
%table.table
  %thead
    %tr.active
      %th Сумма
      %th Комментарий
      %th Дата
  %tbody
    - @payments.each do |p|
      %tr
        %td 
          = p.summa 
          грн
        %td 
          = p.comment
        %td 
          = p.dt.strftime("%d.%m.%Y")
= will_paginate @payments, renderer: BootstrapPagination::Rails, bootstrap: 3, param_name: 'id'