%h4.contract_information Баланс
.balance
  .summa
    %div{class: "#{current_contract.balance_days_left > 5 ? 'green' : 'red'}"}
      На счете:
      %b= current_contract.balance_summa
      грн.
    .limit
      %div{class: "#{current_contract.balance_days_left > 5 ? 'green' : 'red'}"}
        Лимит: 
        %b= current_contract.closesumma
        грн.
-if current_contract.balance_days_left <= 5
  %br
  .alert.alert-danger Пополните счет
= link_to "Оплатить кредитной картой", "#", class: 'contact_submit btn btn-primary btn-large'
%table.table
  %thead
    %tr.active
      %th Сумма
      %th Комментарий
      %th Дата
  %tbody
    - @contracts.each do |p|
      %tr
        %td 
          = p.summa 
          грн
        %td 
          = p.comment
        %td 
          = p.dt.strftime("%d.%m.%Y")
= will_paginate @contracts,previous_label: "Назад", next_label: "Вперед", renderer: BootstrapPagination::Rails, bootstrap: 3