%h4.contract_information 
  Данные
.contacts
  .contact_info{"data-original-title" => "ФИО"}
    %i.glyphicon.glyphicon-user
    %label
      = current_contract.comment
  .contact_info{"data-original-title" => "Номер договора"}
    %i.glyphicon.glyphicon-book
    %label
      = current_contract.title
  - current_contract.contract_parameter_type3.where(pid:8).limit(1).each do |e|
    .contact_info{"data-original-title" => "Электронная почта"}
      %i.glyphicon.glyphicon-envelope
      %label
        = e.email
  - current_contract.ctariffs("date2 is NULL").each do |tp|
    .contact_info{"data-original-title" => "Тариф"}
      %i.glyphicon.glyphicon-usd
      %label
        = tp.tariffplan.title
  - current_contract.dialupaliases.each do |login|
    .contact_info{"data-original-title" => "Логин"}
      %i.glyphicon.glyphicon-dashboard.login
      %label
        = login.login_alias
  - current_contract.inet_services.each do |login|
    .contact_info{"data-original-title" => "Логин"}
      %i.glyphicon.glyphicon-dashboard.login
      %label
        = login.login
%h4.contract_information Контактная информация
= form_tag("contracts/update_contract", id: "contracts") do
  .form-group
    - email = current_contract.contract_parameter_type3.where(pid:8).limit(1).last
    - if email.nil?
      = email_field_tag("email", "", {class: 'form-control', "data-original-title" => "Электронная почта"})
    - else
      = email_field_tag("email", email.email, {class: 'form-control text-control', "data-original-title" => "Электронная почта"})
    .checkbox
      %label
        - sms = current_contract.flags.where(pid:46).limit(1).last
        - sms.nil? ? sms = 0 : sms = sms.val
        = check_box_tag 'sms', sms, sms == 0 ? false : true
        Смс рассылка о состоянии баланса
    = button_tag 'Обновить данные', class: 'contact_submit btn btn-primary btn-large'
