- set_meta_tags title: "#{current_contract.title} статус", description: "Ваш статус на текущий момент" , keywords: "Крыминфоком, Инфоком, Infocom, Crimeainfocom, пополнить баланс, статистика, личный кабинет"
%h4.contract_information Статус
= simple_form_for @status, url: change_status_contracts_path, method: :post, :defaults => { :input_html => { :class => "form-control" } } do |f|
  = f.input :status, collection: [['Активен', 0], ['Приостановлен', 4]], input_html: { class: "form-control" }, selected: @status.status ||= current_contract.status
  = f.input :date1, as: :string, input_html: { class: 'date_picker form-control text-control' }
  = f.input :date2, as: :string, input_html: { class: 'date_picker form-control text-control' }
  = f.button :submit, value: 'Изменить статус', class: 'contact_submit btn btn-primary btn-large', disabled: ![0, 4].include?(current_contract.status)
%br/
%br/
%table.table
  %thead
    %tr.active
      %th Cтатус
      %th Комментарий
      %th С даты
      %th По дату
      %th Статус установлен
  %tbody
    - @statuses.each do |p|
      %tr
        %td 
          = Contract::STATUS[p.status]
        %td
          = p.comment
        %td
          - p p.date1.class
          = I18n.l(p.date1, format: :long) if p.date2
        %td 
          = I18n.l(p.date2, format: :long) if p.date2
        %td 
          = I18n.l p.date, format: :long
= will_paginate @statuses, renderer: BootstrapPagination::Rails, bootstrap: 3, param_name: 'id'