%link{href: "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel: "stylesheet", type: "text/css"}/
%h3= "#{contract.comment} - #{contract.title}"
%p= "Сумма: #{payment.summa.to_s} грн."