!!!
%html
  %head
    %title CrmPersonalAccount
    = stylesheet_link_tag  "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .wrapper
      .container
        .row
          .col-lg-3
            %section.sidebar
              .logo   
                = image_tag('logo.jpg', class: "img-responsive")
              %ul.nav.nav-stacked
                %li
                  = link_to "Профиль", root_path, class: current_page?(root_path) && 'active'
                %li
                  = link_to "Баланс", balance_contracts_path, class: current_page?(balance_contracts_path) && 'active'
                %li
                  = link_to "Статус", status_contracts_path, class: current_page?(status_contracts_path) && 'active' 
                %li
                  = link_to "Выйти", destroy_contract_session_path, :method => :delete
          .col-lg-9
            %section.content
              = yield