!!!
%html
  %head
    %title CrmPersonalAccount
    = stylesheet_link_tag  "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .wrapper
      .container
        .row
          .col-lg-3
            %section.sidebar
              .logo   
                = image_tag('logo.jpg', class: "img-responsive")
              %ul.nav.nav-stacked
                %li
                  = link_to "Профиль", root_path, class: current_page?(root_path) && 'active'
                %li
                  = link_to "Баланс", balance_contract_path(1), class: current_page?(balance_contract_path(params[:id]||=1)) && 'active'
                %li
                  = link_to "Статус", status_contract_path(1), class: current_page?(status_contract_path(params[:id]||=1)) && 'active' 
                %li
                  = link_to "Выйти", destroy_contract_session_path, :method => :delete
          .col-lg-9
            %section.content
              - if flash[:notice]
                .alert.alert-success.alert.alert-dismissable
                  = flash[:notice]
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
              - if flash[:error]
                .alert.alert-danger.alert.alert-dismissable
                  = flash[:error]
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
              = yield